html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.intro {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: sans-serif;
    color: #FFFFFF;
    text-shadow: 10px 10px 300px #000; 
    font-size: 500%;
    -webkit-text-stroke: 1pt black; 
    text-stroke: 1pt black; 
}

input.aButton {
    font-family: sans-serif;
    background-color: Transparent;
    display: inline-block;
    width: 150px;
    padding: 10px;
    color: #fff;
    font-size: 150%;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    text-shadow: 10px 10px 300px #000; 
}

input.aButton:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

input.aButton:focus {
    outline: none;
}

#quoteD {
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 10px 10px 100px #000; 
    font-size: 250%;
    -webkit-text-stroke: 1pt black; 
    text-stroke: 1pt black; 
}

/* style for mobile and tablet devices */
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 250%;
    }

    input.aButton {
        width: 85px;
        padding: 5px;
        font-size: 85%;
    }

    #quoteD {
        font-size: 125%;
        line-height: 100%;
    }
}
